*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
 background: #080808
    ;


}
.menu ul{ 
    display: inline-flex;
    margin: 50px;

}

.menu ul li{ 
    list-style: none;
    margin: 0 20px;
    color: #AAAAAA;
    cursor: pointer;
    
}
.logo img{ 
    width: 30px;
    margin-top: -7px;
    margin-right: 48px; 
}

.active {
    color :#F2F2F2!important;
}


.banner {
     height: 80%;
     height: 70%;
     top: 250%;
     left: 130px;
     color:  white;

 }

.app-text{
    width: 50%;
    float: left;
    margin-top: 210px;
    position: absolute; left: 80px;
}

.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;

}
.app-text p{
    width: 650;
    font-size: 14px;
    margin: 50px 0 30px 40px;
    line-height: 25px ;
    color: #919191 ;


}

.app-picture { 
    width: 50%;
    float: right;
    
}
.app-picture img{
    width:60%;
    margin-top: 150px;
    padding-left:100px;


}